{% extends 'base.html' %}
{% block title %}Melon Debuggers Inc.{% endblock %}

{% block content %}
    <div>
        <h2>Employment Application</h2>
    </div>
    <div id="instruction">
        <p>Melon Debuggers is looking for Software designers to help write Doctests for our clients. </p>
        <p>The ideal candidate will be a selfstarter, not afraid to use Google or Stackoverflow and Python docs for reference and ready to live and breathe about melons.</p>
    </div><br>
    <div id="jobapplication">
        <form action="/application" methods="POST">
        <label for="firstname">First name *
            <input type="text" name="firstname" id="inputback">
        <br><br>
        <label for="lastname">Last name *
            <input type="text" name="lastname" class="lastname" id="inputback">
        <br><br>
        <label for="salary">Salary *
            <input type="text" pattern="[0-9]*" name="salary" id="inputback">
        <br><br>
        <label for="position">Position applied for? *
             <select name="position" id="inputback">
                  <option value="software engineer">Software Engineer</option>
                  <option value="qa engineer">QA Engineer</option>
                  <option value="product manager">Product Manager</option>
            </select>
        <br><br>
        <input type="submit" name="submit" value="Submit" id="submit">
        </form> 
    </div>    
{% endblock %}
